footer {
	font-family: "DM Sans", "sans-serif";
	background-color: $background--color-white;
	margin-top:35px;
	.footer-top {
		border-bottom: 1px solid #f4f4f4;
		.footer-sitemap {
			align-items: flex-start;
			.footer-sitemap-heading,
			.footer-sitemap-info {
				padding-top: 60px;
				padding-bottom: 50px;
			}
			.footer-sitemap-heading {
				display: flex;
				align-items: flex-start;
				justify-content: space-evenly;
				border-right: 1px solid #f4f4f4;
				
				@media screen and (max-width: 992px) {
					border-right: none;
				}
				
				@media screen and (max-width: 575px) {
					flex-direction: column;
					padding-bottom: 30px;
				}
				
				p {
					margin: 0;
					margin-left: 20px;
					max-width: 50%;
					font-size: 12.5px;
					
					@media screen and (max-width: 575px) {
						max-width: 100%;
						margin-top: 20px;
						margin-left: 0;
						text-align: center;
					}
				}
				img {
					@media screen and (max-width: 575px) {
						margin: 0 auto;
					}
				}
			}
			
			.footer-sitemap-info {
				padding-left: 50px;
				
				@media screen and (max-width: 992px) {
					padding-left: 0;
					text-align: center;
					padding-top: 0px;
				}
				
				p {
					color: $footer--color-accent;
					margin-bottom: 15px;
				}
				ul {
					margin-bottom: 0;
					
					@media screen and (max-width: 575px) {
						margin-bottom: 15px;
					}
					
					li {
						a {
							color: $black;
							font-size: 12.5px;
						}
					}
					
					&.footer-social-media {
						li {
							display: inline-block;
							a {
								display: block;
							}
							&:nth-child(2) {
								padding: 0px 10px;
							}
						}
					}
				}
			}
		}
	}
	
	.footer-copyright {
		text-align: center;
		opacity: 0.7;
		padding: 30px 15px;
		font-size: 12.5px;
	}
}