@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');
$purple:#6308F7;
$white: #FFFFFF;
$white-darker:#F6F9FC;
$green: #3CC13B;
$red: #f03738;
$orange: #f3bb1c;
$pink: #ffa7d6;
$black: #1E2833;

$background-color-darken: $white-darker;
$background--color-white: $white;
$text--color-accent: $purple;

$footer--color-accent:$pink;

$color--accent-heavy: $red;
$color--accent-moderate: $orange;
$color--accent-light:$green;

html,body {
    margin:0;
    padding:0;
    display: block;
}
body {
    background-color: $background-color-darken;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: $black;
    height: 100%;
    font-weight: normal;
}

ul{
    padding-left: 0;
    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
 }

p {
    margin-top: 0;
    margin-bottom:15px
}

.button--action {
    padding: 12px 22px 12px 22px;
    display: block;
    border-radius: 8px;
    margin-top: 6px;
    font-weight: 700;
    text-align: center;
}

.button--action-purple {
    border: 2px solid $purple;
    background-color: $background--color-white;
    color: $text--color-accent;
    transition: .2s ease-in-out;
    &:hover {
        background-color: $purple;
        color: $white;
        text-decoration: none;
    }
}

.loader {
    text-align: center;
}

.heading{
    background-color:$background--color-white;
    margin-bottom:35px;
    p {
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        margin: 0;
        padding: 18px 0px;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid $black;
    border-color: $purple transparent $purple transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  