@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');
$purple:#6308F7;
$white: #FFFFFF;
$white-darker:#F6F9FC;
$green: #3CC13B;
$red: #f03738;
$orange: #f3bb1c;
$pink: #ffa7d6;
$black: #000000;

$background-color-darken: $white-darker;
$background--color-white: $white;
$text--color-accent: $purple;

$footer--color-accent:$pink;

$color--accent-heavy: $red;
$color--accent-moderate: $orange;
$color--accent-light:$green;

html,body {
    height: 100%;
}
body {
    background-color: $background-color-darken !important;
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $black;
}

ul{
    padding-left: 0;
    li {
        list-style-type: none;
    }
}

.button--action {
    padding: 12px 22px 12px 22px;
    display: block;
    border-radius: 8px;
    margin-top: 6px;
    font-weight: 700;
    text-align: center;
}

.button--action-purple {
    border: 2px solid $purple;
    background-color: $background--color-white;
    color: $text--color-accent;
    transition: .2s ease-in-out;
    &:hover {
        background-color: $purple;
        color: $white;
        text-decoration: none;
    }
}
.heading{
    background-color:$background--color-white;
    margin-bottom:35px;
    h1 {
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        margin: 0;
        padding: 18px 0px;
    }
}

// @media screen and (min-width:1200px) {
//     .container {
//         max-width: 1440px !important;
//     }
// }