$purple:#6308F7;
$white: #FFFFFF;
$white-darker:#F6F9FC;
$green: #3CC13B;
$red: #f03738;
$orange: #f3bb1c;
$pink: #ffa7d6;
$black: #1E2833;

$background-color-darken: $white-darker;
$background--color-white: $white;
$text--color-accent: $purple;

$footer--color-accent:$pink;

$color--accent-heavy: $red;
$color--accent-moderate: $orange;
$color--accent-light:$green;
